/*!
 *  futbol7.pro main style
 *  MIT License
 */

/**
*	Common
*/
a{
    cursor: pointer;
}
body{
	font-size: 0.9rem;
}
.h1, h1 {
    font-size: 1.75rem;
}
.navbar-brand {
    font-size: 1.25rem;
}
.h2, h2 {
    font-size: 1.5rem;
}
.h3, h3 {
    font-size: 1.25rem;
}
.h4, h4 {
    font-size: 1.1rem;
}
.text-blue-team {
    color: royalblue;
}
.text-white-team {
    color: white;
}
.blue-team-background{
	background-color: white;
}
.white-team-background{
	background-color: darkgray;
}
.team-shield{
    border-radius: 4px 4px 12px 12px;
    width: 24px;
    text-align: center;
}
textarea.form-control {
    overflow: hidden;
}
.navbar-link{
	cursor: pointer;
	padding-right:15px;
}
.card{
	 margin-bottom:20px
}
.card-body {
    padding: 0.5rem;
}
img#logo{
/* 	position: absolute;     */
/* 	left: 15px; */
	height: 30px;
}
a#web-name.navbar-brand{
/* 	margin-left: 85px; */
/*     color: white; */
}
td.column-name{
    white-space: nowrap;
}
td.column-name .player-picture{
	height: 24px;
    width: 24px;
}
th[data-field="lastMatches"]{
	min-width: 117px;
/* 	min-width: 213px; */
}
#player-picture{
    height: 34px;
    position: relative;
    top: -7px;
    margin-bottom: -15px;
    margin-right: 5px;    
}
h3.player-name{
	margin-top: 10px;
    text-align: center;
}
@media (max-width: 767px) { 
	.panel-body {
	    padding: 5px;
	}
}
.punctuation-row .panel-group{
	margin-bottom: 0px;
}
@media (max-width: 767px) { 
	.punctuation-row .panel-group{
		margin-bottom: 10px;
	    margin-top: 15px;
	}
}
.player-goals i.fa-futbol-o{
	margin-right: 5px;
}
li.player-goals{
	padding-left: 0px;
	list-style: none;
}
ul.blue-scorers,
ul.white-scorers{
	padding-left: 0px;
}
ul.blue-scorers li{
	text-align: right;
}
ul.white-scorers li{
	text-align: left;
}
.slider-handle{
	cursor: w-resize;
}
.slider{
	margin-bottom:10px
}
.badge-lastmatch{
    display: inline-block;
    width: 16px;
    font-size: 70%;
    padding: .3em .5em;
}
.fas.trend-arrow{
	font-size: large;
}
.player-punctuation-number{
    font-size: 16px;
    font-weight: 900;
}
.player-score{
    font-weight: 900;
}
div.player-badge{
    background-color: lightgoldenrodyellow;
    height: 30px;
    width: 30px;
    text-align: center;
    display: inline-table;
    border-radius: 15px;
    border: 2px solid lightcoral;
    margin-left: 5px;
}
div.player-badge i{
    color: lightcoral;
    vertical-align: middle;
    display: table-cell;
    font-size: 16px;
}
div.player-badge:hover{
    background-color: Khaki;
    border: 3px solid IndianRed;
}
div.player-badge:hover i{
    color: IndianRed;
}
#home-page h1 ,
#league-page h1,
#me-page h2#title{
    margin-top: 20px;
    margin-bottom: 10px;
}

/**
*	Polling
*/
#polling-result-header{
	    padding: 0px 15px;
}
#polling-result-header > div{
	width: 50%;
}
#polling-form{
	width: 100%;
}
#polling .form-horizontal .form-group {
    margin-right: 15px;
    margin-left: 15px;
}
.polling-form-group .team-shield{
	display: none;
}
.polling-form-group h4.player-name{
	margin-left: 15px;
}
.polling-form-group .row{
	margin-bottom: 15px
}
@media (max-width: 767px) { 
	.polling-form-group .team-shield{
	    position: relative;
	    display: block;
	    left: -7px;
	    top: 16px;
	    width: 12px;
    	height: 12px;
	    font-size: 12px;
	}
	.polling-form-group h4.player-name{
		margin-left: 0px;
	}
}
#polling .player-picture{
	height: 25px;
	width: 25px;
}
#polling .player-badge{
	float: right;
    margin-top: -5px;
}
#polling .player-badge i{
}
@media (min-width: 992px){
	#polling #title-selector .col-md-1{
		width: 0%;
		padding: 0px;
	}
	#polling #title-selector .col-md-2{
		width: 20%;
	}
}

/**
*	Last Match Winner
*/ 
#last-match-winner .player-picture{
	height: 100px;
	width: 100px;
	float: left;
}
#last-match-winner .badges{
	clear:right;
}
#last-match-winner .player-score{
	font-size: xx-large;
}
#last-match-winner .punctuation-row .team-shield{
    left: 18px;
    position: absolute;
    top: 50px;
}

/**
*	PAGE - ROOT
*/
.card-deck .card-header{
	padding: 0px;
}
.collage-image-link{
	
}
.collage-image-link img{
	width: 14%;
/*     height: 100%; */
}
/**
*	PAGE - player
*/
#user-picture{
	height: 100px;
    margin-bottom: 20px;
}
#user-picture.uploading{
	animation-name: blur;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
#user-picture.error{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
@keyframes grayscale {
	50% {
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}
}
@keyframes blur {
	50% {
		-webkit-filter: blur(15px);
		filter: blur(15px);
	}
}
#user-name{
	margin-top: 0px;
    margin-bottom: 0px;
    line-height: 100px;
}

#table-player-matches th[data-field="result"]{
	min-width: 110px;
}
#table-player-matches .result{
	width: 55px;
	display: inline-block;
}
#table-player-matches .table-row-not-played{
	color: rgba(33, 37, 41, 0.2);
}
#table-player-matches .table-row-not-played .text-blue-team{
	color: rgba(65, 105, 225, 0.2);
}
#table-player-matches .table-row-not-played .white-team-background{
	background-color: rgba(169, 169, 169, 0.2);
}
.team-bullet{
    height: 17px;
    width: 17px;
    text-align: center;
    display: inline-table;
    border-radius: 2px 2px 8px 8px;
}
.team-bullet i{    
	display: table-cell;
    font-size: 15px;
    line-height: 17px;
}
@media (max-width: 767px) { 
	#user-picture{
		margin: 0px auto 20px;
    	display: block;
	}	
	#user-name{
		text-align: center;    
		line-height: 48px;
    	margin-bottom: 15px;
	}
}
.list-group-player{
	margin-bottom: 20px;
}
.list-group-player .list-group-item{
	padding: 0.5rem 0.75rem;
}

/**
* PAGE league
*/
#table-results-header{
	margin-bottom: 10px;
    text-align: center;
    line-height: 2.5;
}
#table-results-header span{
    font-weight: bold;
}
#table-results i.fa-futbol-o,
.polling-form-group .row i.fa-futbol-o
{
	float: right;
    line-height: 20px;
    font-size: 10px;
    margin-left: 2px;
}
.table-md td, .table-md th {
    padding: .4rem;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,0.02);
}

/*comparison*/
/* .three-columns>div{ */
/* 	width:33%; */
/* 	display: inline; */
/* } */
.comparison-content h6,
.comparison-content h5,
.comparison-content h4{
	text-align: center;
}
#comparison-matches h4{
	font-size: 5rem;
}
#comparison-ranking h5{
	font-size: 4.5rem;
}
#comparison-same-team h6{
	font-size: 4rem;
}
#comparison-matches span,
#comparison-ranking span,
#comparison-same-team span{
	text-align: center;
    display: block;
}
#comparison-pictures img{
	width: 100%;
}
#comparison-player-one img{
	border: 2px solid DarkOrange;
}
#comparison-player-two img{
	border: 2px solid BlueViolet;
}
.comparison-player-one{
	color: DarkOrange;
}
.comparison-player-draw{
	color: DimGrey;
}
.comparison-player-two{
	color: BlueViolet;
}
.comparison-title{
	margin-top: 20px;
}