textarea.form-control {
    overflow: hidden;
}

.navbar-header{
	float: none;
}
img#logo{
	position: absolute;
}
a#web-name.navbar-brand{
	margin-left: 85px;
    color: white;
}
select#season-selector{
	width: 200px
}
#player-picture{
/* 	margin-top: 8px; */
/*     margin-right: 10px; */
    height: 34px;
}
#player-name{
/*     color: white;     */
/*     line-height: 34px; */
/*     margin: 0px; */
}
h3.player-name{
	margin-top: 10px;
    text-align: center;
}
.navbar-form button,
.navbar-form select,
.navbar-form img,
.navbar-form p{
	margin-right: 0px !important;
	margin-left: 10px !important;
}
@media (max-width: 767px) { 
	.navbar-form {
		margin-top: 50px;
	    margin-right: 0px;
	    margin-left: 0px;
	    margin-bottom: 0px;
    	border: none;
	}
	.navbar-form p, 
	.navbar-form select{
	    display: inline-block;
	}
	.navbar-form button,
	.navbar-form select,
	.navbar-form img,
	.navbar-form p{    
		margin-bottom: 5px;
    	margin-top: 5px;
	}
}

.punctuation-row .panel-group{
	margin-bottom: 0px;
}
.player-goals i.fa-futbol-o{
	margin-right: 5px;
}
li.player-goals{
	padding-left: 0px;
	list-style: none;
}
ul.blue-scorers,
ul.white-scorers{
	padding-left: 0px;
}
ul.blue-scorers li{
	text-align: right;
}
ul.white-scorers li{
	text-align: left;
}
.slider-handle{
	cursor: w-resize;
}
.slider{
	margin-bottom:10px
}
.label-lastmatch{
    display: inline-block;
   	width: 20px;
}
#polling .form-horizontal .form-group {
    margin-right: 15px;
    margin-left: 15px;
}
.player-punctuation-number{
    font-size: 16px;
    font-weight: 900;
}
.player-score{
    font-weight: 900;
}
.polling-form-group .flag-white,
.polling-form-group .flag-blue{
	position: absolute;
	left: 10px;
}
@media (min-width: 768px) { 
	.polling-form-group .flag-white,
	.polling-form-group .flag-blue{
		display: none;
	}
}

/*Last Match Winner*/ 
#last-match-winner .player-picture{
	height: 100px;
	width: 100px;
	float: left;
}
#last-match-winner .badges{
	clear:right;
}
#last-match-winner .player-score{
	font-size: xx-large;
}
#last-match-winner .badges div.player-badge{
    background-color: lightgoldenrodyellow;
    height: 50px;
    width: 50px;
    text-align: center;
    display: table;
    border-radius: 25px;
    border: 4px solid lightcoral;
}
#last-match-winner .badges div.player-badge i{
    color: lightcoral;
    vertical-align: middle;
    display: table-cell;
    font-size: 25px;
}